/* App.css */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
}

.has-background-dark {
  background-color: #0a0a0a;
}
.button-start {
    max-width: 400px; 

  }

.input-container {
display: flex;
justify-content: center;
}

.input-start{
    max-width: 400px;
}